# Build directories and files
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
.ninja_deps
.ninja_log

# Compiled object files
*.o
*.obj

# Compiled binaries
*.so
*.a
*.exe
lab2  # your executable

# Editor/OS files
.DS_Store
*.swp
